[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django = "*"
django-tables2 = "*"
django-simple-menu = "*"
django-filter = "*"
django-crispy-forms = "*"
django-dynamic-preferences = "*"

[dev-packages]
prospector = "*"
flake8 = "<3.9.0"
coverage = "*"
codecov = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
full_test = "python -m pytest --cov=cbvadmin cbvadmin/tests"
