{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css
" rel="stylesheet" media="screen,projection">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static 'cbvadmin/materialize/cbvadmin.css' %}" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>{% block title %}{% endblock %}</title>
{% block extrahead %}{% endblock %}
</head>
<body>
{% block outer_content %}{% endblock %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'cbvadmin/materialize/cbvadmin.js' %}"></script>
<script type="text/javascript">
{% if messages %}
{% for message in messages %}
Materialize.toast('{{ message }}', 4000, '{{ message.tags }}')
{% endfor %}
{% endif %}
</script>
{% block extrascript %}{% endblock %}
</body>
</html>
