{% extends 'cbvadmin/base.html' %}
{% load static menu %}
{% block outer_content %}

{% block menu %}
{% generate_menu %}
<!-- side nav -->
<ul id="nav-menu" class="side-nav fixed">
    <li class="logo white-text blue darken-4 center-align">
    	{% block admin_name %}{{ view.admin.site.title }}{% endblock %}
	</li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header blue darken-4 white-text">
                    <i class="material-icons">account_circle</i>{{ request.user }}
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="">Alterar senha</a>
                            <a href="">Encerrar sessão</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
{% with menu=menus.cbvadmin %}
{% include 'cbvadmin/side-menu.html' %}
{% endwith %}
</ul>
{% endblock %}

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-4 main-content">
            <span class="brand-logo">{% block title %}{% endblock %}</span>
      		<a href="#" data-activates="nav-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            {% block actions %}{% endblock %}
        </div>
    </nav>
</div>
<main>{% block content %}{% endblock %}</main>

{% endblock %}
