{% load crispy_forms_tags i18n %}
<form id="filter-form">
  <div class="float-right">
    <a class="btn btn-default btn-sm" data-widget="control-sidebar" data-target="filter-sidebar" data-slide="true" href="#" role="button">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <h3>{% trans 'Filter' %}</h3
  ><hr class="mb-2">
  <input type="hidden" name="is_popup" value="{{ request.GET.is_popup }}">
  <input type="hidden" name="lookup" value="{{ request.GET.lookup }}">
  {% for field in filter.form %}
    {{ field|as_crispy_field:'bootstrap4' }}
  {% endfor %}
  <button type="submit" class="btn btn-success btn-block">
    {% trans 'Filter' %}
  </button>
  <a href="?{% if request.GET.is_popup %}&is_popup={{ request.GET.is_popup }}{% endif %}{% if request.GET.lookup %}&lookup={{ request.GET.lookup }}{% endif %}" class="btn btn-default btn-block">
    {% trans 'Clear' %}
  </a>
</form>
