{% extends 'cbvadmin/adminlte3/base_site.html' %}
{% load i18n django_tables2 %}

{% block title %}{{ view.admin.model_opts.verbose_name_plural|capfirst }}{% endblock %}

{% block content_body %}
<section class="content">
  <div class="container-fluid">
    {% block list %}
    <div class="card">
      <div class="card-header">
        {% block actions %}
        {% if admin.urls.add %}
        <a class="btn btn-primary btn-sm" href="{% url admin.urls.add %}?{% if request.GET.is_popup %}is_popup={{ request.GET.is_popup }}{% endif %}">
          <i class="fas fa-plus"></i> {% trans 'Add' %}
        </a>
        {% endif %}
        {% endblock %}
        {% if view.has_filters and filter.form %}
        <a class="btn btn-secondary btn-sm" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-filter"></i> Filtros
        </a>
        {% endif %}
      </div>
      <div class="card-body p-0">
        {% load render_table from django_tables2 %}
        {% render_table table 'cbvadmin/adminlte3/table.html' %}
      </div>
      {% if table.page.has_previous or table.page.has_next %}
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          {% if table.page.has_previous %}
          <li class="page-item">
            <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="page-link"><i class="fas fa-chevron-left"></i></a>
          </li>
          {% endif %}
          {% for p in table.page|table_page_range:table.paginator %}
          <li class="page-item{% if table.page.number == p %} active{% endif %}">
            <a class="page-link" {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>
              {{ p }}
            </a>
          </li>
          {% endfor %}
          {% if table.page.has_next %}
          <li class="page-item">
            <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="page-link"><i class="fas fa-chevron-right"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endblock %}
  </div>
</section>

{% block filter %}
{% if view.has_filters and filter.form %}
<aside class="control-sidebar control-sidebar-light">
  <div class="p-3 control-sidebar-content os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
    {% include 'cbvadmin/adminlte3/filter.html' %}
  </div>
</aside>
{% endif %}
{% endblock %}

{% endblock %}

{% block extrascript %}
{{ block.super }}
{% if view.has_filters and filter.form %}
{{ filter.form.media.js }}
{% endif %}
{% endblock %}
