{% extends 'cbvadmin/adminlte3/base_site.html' %}
{% load crispy_forms_tags i18n %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block content %}
{% block content_header %}
<section class="content-header">
  <div class="container-fluid">
   <div class="row mb-2">
    <div class="col-sm-6">
      <h1>
        <b>{% block title %}{% trans 'Change password' %}{% endblock %}</b>
      </h1>
    </div>
  </div>
</div><!-- /.container-fluid -->
</section>
{% endblock %}
<section class="content">
  <div class="container-fluid">
    <form method="post" id="password-form" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>
      {% block form_content %}
      <div class="card card-{{ navbar_color }} card-outline">
        <div class="card-body">
          {% crispy form 'bootstrap4' %}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-success">
            {% translate 'Change my password' %}
          </button>
        </div>
      </div>
      {% endblock %}
    </form>
  </div>
</section>
{% endblock %}

{% block extrascript %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
