{% extends 'cbvadmin/adminlte3/registration/registration_base.html' %}
{% load i18n crispy_forms_tags crispy_forms_filters %}

{% block card_body %}
{% if validlink %}
<p class="login-box-msg">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="post">
  {% crispy form no_form_tag 'bootstrap4' %}
  <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset my password' %}</button>
</form>
{% else %}
<p class="login-box-msg">
  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</p>
{% endif %}
{% endblock %}
