{% extends 'cbvadmin/adminlte3/base.html' %}
{% block body_classes %}hold-transition login-page{% endblock %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<body class="hold-transition login-page">
  <div class="login-box">
    {% block content %}
    <div class="card elevation-2">
      <div class="card-header text-center">
        {% if request.site.preferences.logo %}
        <img src="{{ request.site.preferences.logo.url }}" class="card-img-top" style="width: 50%; height: 50%;">
        {% else %}
        <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" class="card-img-top" style="width: 50%; height: 50%;">
        {% endif %}
        <h2>{{ request.site.name|default:'CBV Admin' }}</h2>
      </div>
      <div class="card-body">
        {% block card_body %}{% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</body>
{% endblock %}
